version: "3.8"

services:
  hotel-web-gcp:
    build: .
    container_name: hotel_web_gcp
    env_file:
      - .env.gcp
    restart: always
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      TIME_ZONE: ${TIME_ZONE}
    volumes:
      - hotel_static_gcp:/app/staticfiles
      - hotel_media_gcp:/app/media
    networks:
      - hotel_network_gcp
    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py collectstatic --noinput &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120
      "

  hotel-nginx-gcp:
    image: nginx:alpine
    container_name: hotel_nginx_gcp
    restart: always
    ports:
      - '80:80'
    volumes:
      - hotel_static_gcp:/app/staticfiles
      - hotel_media_gcp:/app/media
      - ./nginx-gcp.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - hotel-web-gcp
    networks:
      - hotel_network_gcp
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: host.docker.internal
      PMA_PORT: 3306
    networks:
      - hotel_network_gcp


volumes:
  hotel_static_gcp:
  hotel_media_gcp:

networks:
  hotel_network_gcp:
    driver: bridge
