<div class=" h-14 relative bg-white border-b border-gray-200">
  <div class=" h-14 left-[24px] top-0 absolute flex gap-8">
    <!-- Checkin Tab -->
    <a href="{% url 'member_list' %}"
       class="w-32 self-stretch text-center text-sm font-medium font-['Inter'] 
              {% if request.resolver_match.url_name == 'member_list' %}
                text-sky-600 border-b-2 border-sky-600
              {% else %}
                text-gray-600 border-b-2 border-transparent
              {% endif %}">
      Data Member
    </a>
<a href="{% url 'gym_report' %}"
       class="w-32 self-stretch text-center text-sm font-medium font-['Inter'] 
              {% if request.resolver_match.url_name == 'gym_report' %}
                text-sky-600 border-b-2 border-sky-600
              {% else %}
                text-gray-600 border-b-2 border-transparent
              {% endif %}">
      Gym Report
    </a>
  

    

    <!-- Breakfast Report Tab -->
    <a href="{% url 'data_checker' %}"
       class="w-40 self-stretch text-center text-sm font-medium font-['Inter']
              {% if request.resolver_match.url_name == 'data_checker' %}
                text-sky-600 border-b-2 border-sky-600
              {% else %}
                text-gray-600 border-b-2 border-transparent
              {% endif %}">
      Scan and Data checker
    </a>
  </div>
</div>