<div class="w-[1184px] h-14 relative bg-white border-b border-gray-200">
 <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <nav class="flex items-start gap-8 border-b border-gray-200 -mb-px">
{% load nav_tags %}
      <!-- Manage Location -->
      <a href="{% url 'locations_list' %}"
         class="py-4 px-1 inline-flex items-center border-b-2 text-base font-medium
         {% if request.path|startswith:'/dashboard/locations/' %}
           border-sky-600 text-sky-600
         {% else %}
           border-transparent text-gray-600 hover:text-gray-800
         {% endif %}">
        Manage Location
      </a>

      <!-- Building -->
      <a href="{% url 'building_cards' %}"
         class="py-4 px-1 inline-flex items-center border-b-2 text-base font-medium
         {% if request.resolver_match.url_name == 'building_cards' %}
           border-sky-600 text-sky-600
         {% else %}
           border-transparent text-gray-600 hover:text-gray-800
         {% endif %}">
        Building
      </a>

      <!-- Floors -->
      <a href="{% url 'floors_list' %}"
         class="py-4 px-1 inline-flex items-center border-b-2 text-base font-medium
         {% if request.resolver_match.url_name == 'floors_list' %}
           border-sky-600 text-sky-600
         {% else %}
           border-transparent text-gray-600 hover:text-gray-800
         {% endif %}">
        Floors
      </a>

      <!-- Location Families -->
      <a href="{% url 'location_manage' %}"
         class="py-4 px-1 inline-flex items-center border-b-2 text-base font-medium
         {% if request.resolver_match.url_name == 'location_manage' %}
           border-sky-600 text-sky-600
         {% else %}
           border-transparent text-gray-600 hover:text-gray-800
         {% endif %}">
        Location Families
      </a>

      <!-- Location Types -->
      <a href="{% url 'types_list' %}"
         class="py-4 px-1 inline-flex items-center border-b-2 text-base font-medium
         {% if request.resolver_match.url_name == 'types_list' %}
           border-sky-600 text-sky-600
         {% else %}
           border-transparent text-gray-600 hover:text-gray-800
         {% endif %}">
        Location Types
      </a>

    </nav>
  </div>
</div>